/* styling of background image */
body {
  background-image:url(https://previews.123rf.com/images/macrovector/macrovector1403/macrovector140300160/26448307-ragazza-che-sogna-pensando-di-social-media-communication-technology-illustrazione-vettoriale.jpg) ; 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover

}


/* selected google fonts */
html {
  font-family: 'Shadows Into Light', cursive;
}
/* Styling of header */
.header img {
    float: left;
    width: 100%;
    height: 25%;
    background: rgb(201, 71, 147);
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-size: 5em;
    color: gray
  }

.slogan {
  font-size: 1.5em;
  color: black;
  
}
/* where nav bar starts */
  a.navButtons {
  text-align: center;
  height: 30px;
  padding-left: 14px;
  padding-right: 30px;
  line-height: 30px;
  margin: 0%;
  font-size: 1em;
  color: whitesmoke;
  background-color: #9e9595;
  text-decoration: none;
  float: right;
}

/* where my attributes are styled  */
.flex-container{
  background-color: rgb(133, 32, 83);
  text-align: center;
}

/* styling of my footer */
#footer {
  font-size: 0.9em;
  font-weight: bold;
  color: black;
  background-color:rgba(206, 79, 163, 0.822);
  margin: 20px;
  width: 90%;
  max-height: 15%
 }

 #footer a:hover {
  color: #FFF;
  background-color: rgb(224, 64, 176);
  text-decoration: none;
 }

 /* where media query starts */
 @viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media screen and (max-width:320px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
  .box {
    width: 20%;
    height: 500px
  }
}

@media screen and (min-width:321px) and (max-width:768px) {
  /* for tablets */
}

